{% extends 'rapi/Layout.html' %}
{% load static %}
{% block principal %}
<style>
    div#paciente{
        width: 75px;
        height: 75px;
        padding: 0.5em;
        float: left;
        margin: 10px;
        background: url("{% static 'imagenes/paciente.jpg' %}");
        background-size: cover;
        background-repeat: no-repeat;
        border: 1px solid;
    }

    div.cama{
        width: 100px;
        height: 100px;
        padding: 0.5em;
        float: left;
        margin: 10px;
        border: 1px solid;
    }
</style>

<div class="col-md-10">
    <div id="Camas">
        {% for camaS in CAMAS %}
            <div class="col-md-1">
            {% if camaS.EstadoC %}
            <div id="{{  camaS.pk }}" class="cama cama1 ui-widget-header" style="background-color: #149bdf">Cama Nº: {{ camaS.Nro_Cama }}</div>
            {% else %}
            <div id="{{  camaS.pk }}" class="cama cama2 ui-widget-header" style="background-color: #008800">Cama Nº: {{ camaS.Nro_Cama }}</div>
            {% endif %}
            </div>

        {% endfor %}
        <input id="cantcamas" value="{{ idarea }}" hidden>
    </div>
</div>
<div class="col-md-10">
    <input id="idpaciente" value="{{ paciente.pk }}" hidden>
    <p>Paciente: {{ paciente.Nombre_P }} {{ paciente.Apellido_P }}</p>
    <div id="paciente" class="ui-widget-content ui-draggable ui-draggable-handle"><center>
    <p>DNI: {{ paciente.Dni_P }}</p></center></div>
{#    <form action="{% url 'asignarpaciente2' %}" method="post">#}
{#        {% csrf_token %}#}
{#    <br/><center><input type="submit" value="Asignar Cama"></center>#}
{#    </form>#}
    <button onclick="RegistrarCama()" data-toggle="modal" data-target="#modalResult">Asignar Cama</button>
</div>
    <div class="modal fade" id="modalResult" role="dialog">
                            <div class="modal-dialog">

                              <!-- Modal content-->
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h4 class="modal-title">RESULTADO DE ASIGNACION</h4>
                                </div>
                                <div class="modal-body">
                                  <p id="resultmessage">ASIGNACION COMPLETA</p>
                                </div>
                                <div class="modal-footer">
                                    <form method="post" action="{% url 'index' %}">
                                        {% csrf_token %}
                                        <input id="close1" type="submit" class="btn btn-default" data-dismiss="modal" value="Cerrar" >
                                    </form>
                                </div>
                              </div>

                            </div>
                          </div>
{% endblock %}
{% block js %}
    <script>

    var RESULTADO;
    var DragDrop = [];
    var Dropped = [];
    var PreviewKey = "";
    var FirsTime = 1;
    var ID_cama_seleccionada=0;
    function obtenerDatosCama(){
        var area = $('#cantcamas').val();
        $.ajax({
            type: "POST",
            url: {% url 'seleccionaracama' %},
            data : {'pk':area, csrfmiddlewaretoken: '{{ csrf_token }}'},
            success: function Result(arraycamas){
                RESULTADO = arraycamas;

                for(var i =0;i<arraycamas.length;i++){
                    if (arraycamas[i].fields.EstadoC == true)
                    {
{#                      Si la cama esta ocupada por un paciente, se ingresara 1 a la lista DragDrop#}
                        DragDrop.push(1);
                    }
                    else
                    {
{#                        caso contrario sera 0 y ademas en el otro array se guardara todas las camas libres#}
                        DragDrop.push(0);
                        Dropped[""+ i.toString()] = 0;
                    }
                }
            }
        })
    }
    function RegistrarCama(){
         pkcama1 = ID_cama_seleccionada;
         pkpaciente1 = $('#idpaciente').val();
         $.ajax({
            type: "POST",
            url: {% url 'asignarcama' %},
            data : {'pkcama': pkcama1,'pkpaciente': pkpaciente1, csrfmiddlewaretoken: '{{ csrf_token }}'},
            success: function Result(mensaje) {
                console.log(mensaje)
                $('#resultmessage').html(mensaje)
            }
            });
    }
    $( function() {
        obtenerDatosCama();
        $( "#paciente" ).draggable({revert:"invalid"});
        $( ".cama" ).droppable({
          drop: function( event, ui ) {
            if($( this ).find( "#paciente")){
                  for(var i =0;i<RESULTADO.length;i++){
    {#                  encuentra la cama seleccion por el ID y comprueba si esta vacia#}
                    if ($(this).attr("id") == RESULTADO[i].pk){
                      if(DragDrop[i]==0){
    {#                      si esta vacia se podra comprobar #}
                          Dropped[""+ i.toString()] = 1;
                          $('.cama2').css("background-color","#008800");
                          $(this).css("background-color","yellow");
    {#                      si ejecuta por primera vez, este sera el indicador#}
                          ID_cama_seleccionada = RESULTADO[i].pk;
                          if(FirsTime==1)
                            FirsTime=0;
                          else
                            Dropped[PreviewKey]=0;
                          PreviewKey = i.toString();
                      }
                      }
                  }
              }
              }
        });
  } );
    </script>
{% endblock %}